@{
    ViewData["Title"] = "首页";
}

<div class="text-center">
    <h1 class="display-4">欢迎</h1>
    <p>关于 <a href="https://docs.microsoft.com/aspnet/core">创建 Web apps with ASP.NET Core</a>.</p>
</div>
